<div class='main-nav'>
    <div class='navbar navbar-default'>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]="['/home']">
                <span class='glyphicon glyphicon-list-alt'></span> &nbsp; Log Viewer
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Latest Logs
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/search']">
                        <span class='glyphicon glyphicon-search'></span> Search Logs
                    </a>
                </li>
            </ul>
        </div>
        <small>Angular 4 SPA</small>
    </div>
</div>
