<h2>Latest log enteries</h2>
<p>
    View latest {{pageSize}} logs while new log enteries will automaticly appear when available.
</p>

<hr />

<table-component [rows]="searchResponse.result"
                 [sortedBy]="searchResponse.sortBy"
                 [descending]="searchResponse.descending">
</table-component>

<page-select-component [take]="searchResponse.take"
                 [skip]="searchResponse.skip"
                 [total]="searchResponse.total"
                 (goToPage)="goToPage($event)">
</page-select-component>