<div class="row">
    <div class="col-md-10">
        <h2>Latest log enteries</h2>
    </div>
    <div class="col-md-2 text-right">
        <page-size-component [take]="5" (newPageSize)="setPageSize($event)" class="form-inline"></page-size-component>
    </div>
</div>

<hr />

<table-component [rows]="searchResponse.result"
                 [sortedBy]="searchResponse.sortBy"
                 [descending]="searchResponse.descending"
                 (newSortColumn)="setSortColumn($event)">
</table-component>

<page-select-component [take]="searchResponse.take"
                 [skip]="searchResponse.skip"
                 [total]="searchResponse.total"
                 (goToPage)="goToPage($event)">
</page-select-component>