<h2>Latest log enteries</h2>
<page-size-component></page-size-component>
<hr />

<table-component [rows]="searchResponse.result"
                 [sortedBy]="searchResponse.sortBy"
                 [descending]="searchResponse.descending"
                 (newSortColumn)="setSortColumn($event)">
</table-component>

<page-select-component [take]="searchResponse.take"
                 [skip]="searchResponse.skip"
                 [total]="searchResponse.total"
                 (goToPage)="goToPage($event)">
</page-select-component>