thead tr {
    background: #a3b3c2;
    color: white;
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

th.sortable span {
    font-size: 0.75em;
    top:5px;
    float: right;
}

th.sortable.descending span:before {
    content: "\e253";
}

th.sortable.ascending span:before {
    content: "\e252";
}

tbody tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-group {
    padding-right: inherit;
}